# Gecko SDK

# Copyright (c) 2017, Christian Taedcke
# Copyright (c) 2023 Antmicro <www.antmicro.com>
# SPDX-License-Identifier: Apache-2.0

config HAS_SILABS_GECKO
	bool
	select HAS_CMSIS_CORE
	depends on SOC_FAMILY_EXX32

config HAS_SILABS_WISECONNECT
	bool
	select HAS_CMSIS_CORE
	select REQUIRES_FULL_LIBC
	select NEWLIB_LIBC_NANO
	depends on SOC_FAMILY_SIWX917
