if BOARD_VIDEO_BOOSTER

config BOARD
	default "video_booster"

config CMU_HFXO_FREQ
	default 24000000

config CMU_LFXO_FREQ
	default 32768

if GPIO_GECKO

config GPIO_GECKO_PORTA
	default y

config GPIO_GECKO_PORTB
	default y

config GPIO_GECKO_PORTC
	default y

config GPIO_GECKO_PORTD
	default n

config GPIO_GECKO_PORTE
	default n

config GPIO_GECKO_PORTF
	default y

endif # GPIO_GECKO

endif # BOARD_VIDEO_BOOSTER
