# Copyright (c) 2023 Antmicro <www.antmicro.com>
#
# SPDX-License-Identifier: Apache-2.0

config BOARD_SIWG917_BRD4325A
	bool "Silicon Labs BRD4325A"
	depends on SOC_SERIES_SIWG917
	select SOC_PART_NUMBER_SIWG917M612LGTAA
