# Copyright (c) 2020 Antmicro <www.antmicro.com>
# SPDX-License-Identifier: Apache-2.0

if SOC_EOS_S3

config SOC
	default "quicklogic_eos_s3"

config NUM_IRQS
	default 52

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 61440000

if SERIAL

config UART_PL011
	default y

config UART_LITEUART
	select SOC_EOS_S3_FPGA
	default n

if UART_PL011

config UART_INTERRUPT_DRIVEN
	default y

config UART_PL011_PORT0
	default y

config UART_PL011_PORT1
	default n

endif # UART_PL011

if UART_LITEUART

config UART_INTERRUPT_DRIVEN
	default n

endif # UART_LITEUART

endif # SERIAL

if GPIO

config GPIO_EOS_S3
	default y

endif # GPIO

if SPI

config SPI_EOS_S3
	default y

endif # SPI

endif # SOC_EOS_S3
