/dts-v1/;
#include <ambiq/ambiq_apollo4p.dtsi>

#include "apollo4p_evb-pinctrl.dtsi"

/ {
	model = "Ambiq Apollo4 Plus evaluation board";
	compatible = "ambiq,apollo4p_evb";
	chosen {
		zephyr,itcm = &tcm;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,uart-pipe = &uart0;
	};
	aliases {
		watchdog0 = &wdt0;
		led0 = &led0;
		led1 = &led1;
		led2 = &led2;
		sw0 = &button0;
		sw1 = &button1;
	};

	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&gpioa 30 GPIO_ACTIVE_LOW>;
			label = "LED 0";
		};
		led1: led_1 {
			gpios = <&gpioc 26 GPIO_ACTIVE_LOW>;
			label = "LED 1";
		};
		led2: led_2 {
			gpios = <&gpiod 1 GPIO_ACTIVE_LOW>;
			label = "LED 2";
		};
	};
	buttons {
		compatible = "gpio-keys";
		button0: button_0 {
			gpios = <&gpioa 18 GPIO_ACTIVE_LOW>;
			label = "BTN0";
		};
		button1: button_1 {
			gpios = <&gpioa 19 GPIO_ACTIVE_LOW>;
			label = "BTN1";
		};
	};

};

&uart0 {
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-names = "default";
	status = "okay";
};

&counter0 {
	status = "okay";
};

&wdt0 {
	status = "okay";
};

&i2c0 {
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";
	status = "okay";
};

&spi2 {
	pinctrl-0 = <&spi_hci>;
	pinctrl-names = "default";
	status = "okay";
    clock-frequency = <8000000>;

	bt-hci@0 {
		compatible = "ambiq,bt-hci-spi";
		irq-gpios = <&gpioc 9 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpiob 25 GPIO_ACTIVE_HIGH>;
		clkreq-gpios = <&gpioc 0 GPIO_ACTIVE_HIGH>;
		cs-gpios = <&gpioc 8 GPIO_ACTIVE_HIGH>;
	};
};

&gpioa {
	status = "okay";
};

&gpiob {
	status = "okay";
};

&gpioc {
	status = "okay";
};

&gpiod {
	status = "okay";
};
